In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
def read_dataset(file_name: str) -> pd.DataFrame:
    """
    Lee un archivo xlsx y lo devuelve como un DataFrame
    """
    return pd.read_excel(file_name)

def info_dataset(df: pd.DataFrame) -> None:
    """
    Info de interés del dataframe
    """

    # Edades, categorías de trabajo, categorías de educación e intervalo de horas trabajadas por semana
    print(f'Edad mínima: {df["age"].min()} - Edad máxima: {df["age"].max()}')
    print(f'Categorías de trabajo: {", ".join(df["workclass"].unique())}')
    print(f'Categorías de educación: {", ".join(df["education"].unique())}')
    print(f'Intervalo de horas trabajadas p/ semana: {df["hours.per.week"].min()} - {df["hours.per.week"].max()}')

In [7]:
df = read_dataset('dataset_guía_2_adult_census.xlsx')

# Observamos las primeras 20 filas
df.head(20)

,age,workclass,education,education.num,marital.status,occupation,relationship,race,sex,hours.per.week,native.country,income
0,90,?,HS-grad,9,Widowed,?,Not-in-family,White,Female,40,United-States,<=50K
1,82,Private,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,18,United-States,<=50K
2,66,?,Some-college,10,Widowed,?,Unmarried,Black,Female,40,United-States,<=50K
3,54,Private,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,40,United-States,<=50K
4,41,Private,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,40,United-States,<=50K
5,34,Private,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,45,United-States,<=50K
6,38,Private,10th,6,Separated,Adm-clerical,Unmarried,White,Male,40,United-States,<=50K
7,74,State-gov,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,20,United-States,>50K
8,68,Federal-gov,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,40,United-States,<=50K
9,41,Private,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,60,?,>50K
10,45,Private,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,35,United-States,>50K
11,38,Self-emp-not-inc,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,45,United-States,>50K
12,52,Private,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,20,United-States,>50K
13,32,Private,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,55,United-States,>50K
14,51,?,Doctorate,16,Never-married,?,Not-in-family,White,Male,40,United-States,>50K
15,46,Private,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,40,United-States,>50K
16,45,Private,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,76,United-States,>50K
17,57,Private,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,50,United-States,>50K
18,22,Private,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,40,?,>50K
19,34,Private,Bachelors,13,Separated,Sales,Not-in-family,White,Male,50,United-States,>50K

In [8]:
info_dataset(df=df)

Edad mínima: 17 - Edad máxima: 90
Categorías de trabajo: ?, Private, State-gov, Federal-gov, Self-emp-not-inc, Self-emp-inc, Local-gov, Without-pay, Never-worked
Categorías de educación: HS-grad, Some-college, 7th-8th, 10th, Doctorate, Prof-school, Bachelors, Masters, 11th, Assoc-acdm, Assoc-voc, 1st-4th, 5th-6th, 12th, 9th, Preschool
Intervalo de horas trabajadas p/ semana: 1 - 99

In [20]:
# Punto 2
# df.plot(x='sex', y='income', kind='bar')
df_g50K = df[df.income == '>50K']['age']
df_lt50K = df[df.income == '<=50K']['age']
df.plot(
    x=[
        df_g50K[df.sex == 'Male'],
        df_g50K[df.sex == 'Female'],
        df_lt50K[df.sex == 'Male'],
        df_lt50K[df.sex == 'Female']
    ],
    y=['M >50K', 'F >50K', 'M <= 50K', 'F <= 50K'],
    kind='bar'
)

C:\Users\Javo\Documents\UNSAM\Intro_Ciencia_Datos\venv\lib\site-packages\pandas\core\common.py:241: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = np.asarray(values, dtype=dtype)

TypeError: unhashable type: 'Series'